<!-- <div class="wrapper"> -->
  <div class="list row">

      <div class="col-md-6">
        <label for="search"> City </label>
        <div class="input-group mb-3">
          <input
            id="search"
            type="text"
            class="form-control"
            placeholder="Search by name"
            [(ngModel)]="name"
          />
          <div class="input-group-append">
            <button
              class="btn btn-outline-secondary"
              type="button"
              (click)="searchName()"
            >
              Search
            </button>
          </div>
        </div>
           
      </div>
      <div class="col-md-3"> 
        <label for="pagePer"> Items per Page</label>
        <select id="pagePer" class="custom-select mb-3" (change)="handlePageSizeChange($event)">
          <option *ngFor="let size of pageSizes" [value]="size">
            {{ size }}
          </option>
        </select>
      </div>
      <div class="col-md-3">
        <button type="button" class="btn btn-primary btn-block pull-right city-add" (click)="btnClick();"><i class="fa fa-plus"></i> Add</button>    
      </div>
  </div>

  <div class="row">
    <div class="wrapper">
      <div class="col-md-12" *ngFor="let city of cities | paginate : {
        itemsPerPage: pageSize,
        currentPage: page,
        totalItems: count
      };
      let i = index
      "
      [class.active]="i == currentIndex"
      (click)="setActiveCity(city, i)">        
        <div class="card mx-auto" style="width: auto;" >
        <div class="card-body">
          <img class="card-img-top" [src]="city.photo" alt="Card image cap" width="200" height="200">
          <h5 class="card-title">{{city.name}}</h5>
          <!-- <button (click)="delete(card)" class="btn btn-primary">Delete</button> -->
        </div>
      </div>
    </div>
  </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <pagination-controls
      previousLabel="Prev"
      nextLabel="Next"
      [responsive]="true"
      (pageChange)="handlePageChange($event)"
      ></pagination-controls>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">

      <div *ngIf="currentCity.id" class="edit-form">
        <form>
          <input type="hidden" id="id" name="id" [(ngModel)]="currentCity.id"/>
          <div class="form-group">
            <label for="name">Name</label>
            <input
              type="text"
              class="form-control"
              id="name"
              [(ngModel)]="currentCity.name"
              name="name"
            />
          </div>
          <div class="form-group">
            <label for="photo">Photo</label>
            <input
              type="text"
              class="form-control"
              id="photo"
              [(ngModel)]="currentCity.photo"
              name="photo"
            />
          </div>
        </form>

        <button *ngIf="isRoleAdmin"
          type="submit"
          class="badge badge-success mb-2"
          (click)="updateCity()"
        >
          Update
        </button>
        <p>{{ message }}</p>
      </div>

      <div *ngIf="!currentCity.id">
        <br />
        <p>Cannot access this City...</p>
      </div>
    </div>

  </div>

<!-- </div>   -->