.wrapper {
  display: grid;
  grid-template-columns: auto;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  padding: 10px;
}

.list.row{
  margin-top: 15px;
}

.city-add{
  margin-top: 31px;
}

@media only screen and (min-width: 400px) {
  .wrapper{
  grid-template-columns: auto auto;
  }
}
@media only screen and (min-width: 800px) {
  .wrapper {
  grid-template-columns: auto auto auto;
  }
}
@media only screen and (min-width: 1200px) {
  .wrapper{
  grid-template-columns: auto auto auto auto auto auto;
  }
}